<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="/assets/images/logo.png" alt="Logo de Global Water Energy: un symbole de qualité et d'innovation dans l'industrie des minéraux, basé à Casablanca, Maroc." width="180px">
                    <p>Nous sommes une entreprise spécialisée dans le traitement efficace et durable des minéraux, offrant des solutions innovantes pour répondre aux besoins industriels variés.</p>
                    <p>2024 © Copyright - All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <h4>Les Sections:</h4>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/pages/about">A propos</a></li>
                        <li><a href="/#products" id="lowerProductsButton">Produits</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <h4>Reseaux Sociaux:</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>