<div class="top-nav container-fluid d-flex align-items-center">
    <div class="localisation">
        <i class='bx bx-current-location'></i>
        <p>Casablanca</p>
    </div>
    <div class="phone">
        <i class='bx bxs-phone'></i>
        <p>+212661083695</p>
    </div>
    <div class="mail">
        <i class='bx bxs-envelope'></i>
        <p>contact.global.water.energy@gmail.com</p>
    </div>
    <div class="social-media">
        <i class='bx bxl-facebook-circle'></i>
        <i class='bx bxl-instagram-alt'></i>
        <i class='bx bxl-youtube'></i>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" alt="Logo de Global Water Energy: un symbole de qualité et d'innovation dans l'industrie des minéraux, basé à Casablanca, Maroc." width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" href="/">Accueil</a>
                <a class="nav-link" href="/pages/about">A propos</a>
                <a class="nav-link" href="/#products" id="upperProductsButton">Produits</a>
                <a class="nav-link" href="/#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>